@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Light/Dark Mode base variables */
:root {
  --light-bg-color: #f5f5f5;
  --light-card-bg: #ffffff;
  --light-text-color: #333333;
  --light-border-color: #e0e0e0;
  --light-highlight: #9ba3fb;
  --light-secondary-bg: #f0f0f0;
  --light-button-bg: #e8e8e8;
  --light-button-hover: #d0d0d0;
  --light-accent-color: #495BFA;
  
  --dark-bg-color: #0f0f0f;
  --dark-card-bg: #171716;
  --dark-text-color: white;
  --dark-border-color: #444;
  --dark-highlight: #495BFA;
  --dark-secondary-bg: #171716;
  --dark-button-bg: #171716;
  --dark-button-hover: #343434;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* This sets the font to Roboto Light */
  transition: background-color 0.3s, color 0.3s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
