.schedule-container {
  width: 1500px;
  height: 1050px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: flex;
}


.schedule-month-year {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px 0;
}

.main-calendar {
  flex-grow: 1;
}

.schedule {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.time-series {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 15px;
}

.time-series-label {
  height: 40px;
  /* Adjust this value based on your requirements */
  display: flex;
  align-items: center;
  color: rgb(131, 131, 131);
  font-size: 11px;
  position: relative;
}

.time-series-label::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 1px;
  width: calc(100% * 38.5);
  background-color: #ccc;
}

.dark-mode .time-series-label::after {
  background-color: #464646 !important;
  /* Darker color for dark mode */
}

.days {
  display: flex;
  flex-grow: 1;
}


.day {
  position: relative;
  flex-grow: 1;
  border-left: 1px solid #ccc;
  position: relative;
  max-width: 200px;
  min-width: 150px;
}

.dark-mode .day {
  border-left: 1px solid #595959 !important;
  /* Darker color for dark mode */
}

.day-header {
  font-size: 16px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-prefix {
  font-size: 12px;
  margin-bottom: 2px;
}

.schedule .event {
  position: absolute;
  padding: 5px;
  /* Adjust this value based on your requirements */
  border-radius: 5px;
  color: #ffffff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 85%;
  display: flex;
  flex-direction: column;
}

/* This is the circular backdrop for the current day */
.current-day {
  background-color: lightgrey;
  border-radius: 50%;
  /* Makes it circular */
}

/* This is the rounded rectangle for the 7-day range */
.seven-day-range {
  background-color: grey;
  border-radius: 10px;
  /* Adjust for desired roundness */
  /* You may need additional styles to stretch or position this background correctly */
}



.event-title {
  font-weight: bold;
  font-size: .8rem !important;
  margin-bottom: 6px !important;
}

.event-time {
  font-size: 0.6em;
}

.arrow {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  user-select: none;
  padding-right: 20px;
  padding-left: 20px;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.mini-calendar {
  width: 100%;
  max-width: 250px;
  padding-right: 50px;
}

.mini-calendar-header {
  display: flex;
  padding-left: 10px;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-between;
}

.mini-calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  padding: 5px;
}

.mini-calendar-date {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.mini-calendar-date-faded {
  color: lightgrey;
}

.mini-calendar-date:hover {
  background-color: #ccc;
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .schedule-container {
    width: 100%;
    height: auto;
    padding: 10px;
    flex-direction: column;
  }

  .main-calendar,
  .mini-calendar {
    width: 100%;
    max-width: none;
  }

  .schedule {
    flex-direction: column;
  }

  .time-series {
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .time-series-label::after {
    width: calc(100% * 0.9);
  }

  .days {
    flex-direction: column;
  }

  .day {
    min-height: 960px; 
    position: relative;
    min-width: 100%;
    max-width: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
    height: 100%;
  }

  .day:first-child {
    border-top: 1px solid #ccc;
  }

  .day-header {
    font-size: 12px;
    order: -1;
  }

  .event {
    width: 85%;
  }

  .event-title {
    font-size: .6rem;
  }

  .event-time {
    font-size: 0.5em;
  }

  .mini-calendar {
    padding-right: 0;
    padding-top: 20px;
  }

  .mini-calendar-header {
    padding-left: 5px;
  }

  .mini-calendar-dates {
    gap: 1px;
    padding: 3px;
  }

  .mini-calendar-date {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  /* Hide all days except the first one */
  .day:not(:first-child) {
    display: none;
  }
}