@media (min-width: 0em){
    .dashboard {
        padding: 20px;
        text-align: left;
      }
      
      .dashboard h1 {
        margin-bottom: 20px;
      }
      
      .events-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px; /* Spacing between event items */
      }
      
      .dashboard .event {
        background-color: #f3f3f3; /* Placeholder color */
        color: black !important;
        border-radius: 10px;
        padding: 10px;
        min-width: 200px; /* Adjust as needed */
      }
      
      .events {
        margin-top: 20px;
      }
      
      .header h1 {
        margin-left: 0;
        margin-right: auto;
      }
      
      .content {
        display: flex;
        flex-direction: column;
      }
      
      .tasks-projects {
        display: flex;
        flex-direction: column;
      }
      
      .tasks, .projects {
        margin-bottom: 20px;
      }
}

  
  @media (min-width: 48em) {
    .content {
      flex-direction: row;
    }

    .events-container {
        flex-direction: row;
      }
  
    .tasks-projects {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .tasks, .projects {
      width: 48%;
    }
  }
  