/* Task.css */
.task-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Take full width of the viewport */
  }
  
  .columns {
    display: flex;
    justify-content: space-between; /* Space out the columns */
    width: 100%; /* Columns should fill the parent */
    margin-top: 20px; /* Provide some spacing from the top */
  }
  
  .column {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 10px); /* Subtract margin from total width */
    margin: 0 5px; /* Provide spacing between columns */
  }
  
  .column:first-child h2 {
    text-align: left;
  }

  .task-count {
    color: #aaa; /* A lighter grey color for the task count */
    margin-left: 8px; /* Adds some space between the title and the count */
  }
  
  .task-card {
    background-color: #292929;
    margin: 0.5rem 0;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 75%; /* Make the card 25% less wide */
  }

  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-task-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #495BFA;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .add-task-btn:hover {
    background-color: #3a4bd8;
  }

  .task-dragging {
    background-color: #eaeaea;
    border: 2px dashed #ccc;
  }

  .edit-icon {
    cursor: pointer;
    /* additional styling for the edit icon */
  }
  
  /* Styles for droppable area */
  .droppable-area {
    min-height: 100px;
    background-color: #f8f8f8;
    transition: background-color 0.2s ease;
  }
  
  .droppable-area:hover {
    background-color: #eaeaea;
  }
  
  .draggingOver .placeholder {
    border: 2px dashed #aaa; /* Dotted border for visual feedback */
    border-radius: 8px; /* Match the border-radius of your task cards */
    height: auto;
    min-height: 192px; /* Minimum height */
    width: 370px; /* Fixed width */
    margin: 0.5rem 0; /* Match the margin of your task cards */
  }
  
  .placeholder {
    display: none; /* Hide placeholder by default */
    flex: 0 0 auto;
  }
  
  .column.draggingOver .placeholder {
    display: block; /* Display placeholder when dragging over */
  }
