.vision-board {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align left */
  padding: 20px;
}

.vision-board .header {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #495BFA;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card {
  position: relative;
  min-width: 250px;
  min-height: 250px;
  border: 1px solid #ccc;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 1 250px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vision-board .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}

.project-header .edit-icon {
  cursor: pointer;
}

.project-card .line {
  position: relative;
  margin: 0;
  background-color: #242424;
  height: 1px;
  width: 75px;
}

.project-card .date {
  position: relative;
  font-size: 13px;
  color: #ffffff;
  bottom: -80px;
  text-align: center;
  background-color: rgb(39, 39, 39);
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  max-width: 100px;
}

.date-created {
  text-align: left;
  font-size: 0.8rem;
  color: #777;
}

.add-button:hover {
  background-color: #394dff;
}
