@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Arial', sans-serif;
}


/*
 ANIMATIONS
*/



/* END ANIMATION */

.home-page {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 55px;
  align-items: center;
  padding: 0 7rem;
  background-color: #F8F8F8;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.quantumix-nav-title {
  font-size: 1.5rem;
  margin-right: auto; /* Aligns title to the left */
  padding: 0.6rem 0.8rem;
  font-family: 'Pacifico', cursive;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar a:hover {
  background-color: #ededed;
}

.navbar li {
  list-style: none;
}

.navbar a {
  display: block;
  padding-left: .8rem;
  padding-right: .8rem;
  font-size: 14px;
  color: #333;
  border-radius: 25px;
  border-radius: 15px;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  transition: max-height 0.3s;
  overflow: hidden;
  max-height: 200px;
}

.nav-menu.show {
  max-height: 500px;
}

.mobile-only {
  display: none;
}

.right-float {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.start-for-free {
  background-color: #495BFA;
  color: white !important;
  border-radius: 15px;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.contact-us {
  border-radius: 15px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #495BFA;
}

.start-for-free:hover {
  background-color: #394ae4 !important;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  top: -200px;
}

.content-section {
  text-align: left; /* Align content to the left */
  margin-right: 25rem; /* Adjust as needed */
  max-width: 650px;
}

.main-title {
  position: relative;
  font-size: 3.8rem;
  margin: 0 auto; /* Center the title */
  font-family: 'Inter', sans-serif;
  color: #181b38;
  font-weight: 700;
  display: inline-flex; /* Changed to inline-flex for better alignment */
  align-items: center;
}

.dynamic-text {
  height: 90px; /* Adjust if needed */
  line-height: 90px;
  overflow: hidden;
  font-size: 3.8rem;
  margin-left: 256px;
  font-family: 'Inter', sans-serif;
  color: #181b38;
  font-weight: 700;
  margin-top: -85px;
  padding-right: 20px;
}

.dynamic-text li {
  position: relative;
  list-style: none;
  color: #394ae4;
  top: 0;
  animation: slide 8s steps(1) infinite;
}
@keyframes slide {
  0%, 33.33% { top: 0; }
  33.34%, 63.00% { top: -90px; }
  63.00%, 100% { top: -180px; }
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  top: 20px; /* Adjust to reduce height */
  left: 0;
  height: 60px; /* Adjusted height */
  width: 10px;
  border-left: 6px solid #181b38; /* Cursor as a border */
  background-color: white; /* Covering color */
  animation: typing 8s steps(25) infinite;
}

@keyframes typing {
  /* Initial pause */
  0%, 10% { left: 0; width: 100%; }

  /* Typing 'scheduling' */
  10%, 20% { left: 100%; width: 100%; }
  20%, 25% { left: 100%; width: 100%; }
  /* Deleting 'scheduling' */
  25%, 35% { left: 0; width: 100%; }

  /* Pause before 'tasks' */
  35%, 40% { left: 0; width: 100%; }

  /* Typing 'tasks' */
  40%, 50% { left: 55%;; width: 55%; }
  50%, 55% { left: 55%; width: 55%; }
  /* Deleting 'tasks' */
  55%, 65% { left: 0; width: 100%; }

  /* Pause before 'planning' */
  65%, 70% { left: 0; width: 100%; }

  /* Typing 'planning' */
  70%, 80% { left: 80%;; width: 80%; }
  80%, 85% { left: 80%; width: 100%; }
  /* Deleting 'planning' */
  85%, 95% { left: 0; width: 100%; }

  /* Final pause */
  95%, 100% { left: 0; width: 100%; }
}

.main-description {
  margin-top: 1rem; /* Space between title and description */
  font-size: calc(18rem / 16);
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-section {
    text-align: center;
    margin-left: 0;
  }

  .main-title {
    font-size: 3rem; /* Adjust for smaller screens */
    text-align: center;
  }

  .main-title, .main-description {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }

  .hamburger-menu {
    display: block;
    margin-left: auto;
  }

  .mobile-only {
    display: block;
  }

  .nav-menu {
    display: block;
    text-align: center;
    max-height: 0;
  }

  .nav-menu li {
    display: block;
    margin-bottom: 1rem;
  }

  .nav-menu a {
    text-align: center;
    display: block;
  }
  .navbar ul {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .right-float {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .navbar ul.show {
    display: flex;
  }

  /* Remove margin-left from the start-for-free class */
  .start-for-free {
    margin-left: 0;
  }

  .quantumix-title {
    font-size: 4rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .navbar-logo {
    display: none;
  }
}

@media (max-width: 480px) {
  .quantumix-title {
    font-size: 3rem;
  }

  .slogan {
    font-size: 0.9rem;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-content {
    font-size: 16px;
    line-height: 30px;
  }

}
