.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.back-button {
    align-self: flex-start;
    margin-bottom: 20px;
    margin-top: -10px; /* move the arrow a bit up */
    margin-left: -5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.static-head {
    position: static;
    width: 100%;
}

.project.dark-mode .back-button {
    color: white;
}

.back-button:hover {
    transform: translateX(-5px);
}

.header {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

.project.dark-mode .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.header .save-button {
    position: relative;
    top: 20px;
    left: 70%;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black !important;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .project.dark-mode .save-button {
    color: white;
    border: 1px solid rgb(221, 221, 221) !important;
  }

  .header save-button:hover {
    border: 1px solid rgb(73, 73, 73);
  }

.project-title {
    border: none;
    width: 100%;
    outline: none;
    padding: 0;
    margin: 0;
    resize: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
}

.project.dark-mode .project-title {
    color: white;
}
  
.project-text {
    width: 100%; /* Full width */
    height: 65vh; /* Adjust height based on the header's height */
    padding: 0 200px; /* Indents text 200px from both sides */
    margin-top: 60px; /* Space for the static header */
    background: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow-y: scroll; /* Only scroll vertically */
    font-size: 16px; /* Adjust as needed */
    color: #333; /* Text color */
    resize: none; /* Disable resizing */
}


.project.dark-mode .project-text {
    color: white;
}
